* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: #efefef;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    /* For browsers that do not support gradients */
    background: linear-gradient(180deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);

    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 45px;
    margin-right: 45px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;

}

.nav-left ul li {
    display: inline-block;
    list-style: none;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;

}

.navUserIcon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.searchBox {
    background: #dfdcdc;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.searchBox img {
    width: 18px;
}

.searchBox input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

#searchBtn {
    color: white;
    background-color: #91969c;
    border: 1px solid rgb(87, 84, 84);
}

.navUserIcon {
    margin-left: 70px;
}

.navUserIcon,
.online {
    position: relative;

}

.online::after {
    content: '';
    width: 9px;
    height: 9px;
    border: 50%;
    background: rgb(3, 3, 10);
    position: absolute;
    top: 10px;
    right: 0;

}

/* Setting menue */
.userProfile a {
    font-size: 13px;
    color: #0a0a0a;
    text-decoration: none;

}

.settingMenueInner {
    padding: 20px;

}

.settingMenueInner hr {
    border: 0;
    height: 1px;
    background: #626262;
    margin: 15px 0;

}

/* For main  Container */

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    background: rgb(0, 0, 0);
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%); */
    background: linear-gradient(180deg, rgb(0, 0, 0) 11.2%, rgb(115, 203, 212) 91.1%);

}


/* For Left Side Bar of the Container*/

.leftSideBar {
    color: #1876f2;
    flex-basis: 20%;
    background-color: rgb(4, 0, 255);
    /* For browsers that do not support gradients */
    background: linear-gradient(180deg, rgb(117, 115, 115) 11.2%, rgb(115, 203, 212) 91.1%);
    position: sticky;
    top: 70px;
    align-self: flex-start;
    border-radius: 15px;
    background-color: rgba(10, 0, 0, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(7, 0, 0, 0.1);
    box-shadow: 0 0 40px rgb(28, 29, 29);

}

/* For  Container */

.centerContent {
    flex-basis: 50%;

}

/* For Right Side Of the Container */

.rightSideBar {
    color: #1876f2;
    flex-basis: 20%;
    position: sticky;
    /* For browsers that do not support gradients */
    background-color: rgb(4, 0, 255);
    background: linear-gradient(180deg, rgb(117, 115, 115) 11.2%, rgb(115, 203, 212) 91.1%);
    top: 70px;
    align-self: flex-start;
    border-radius: 15px;
    background-color: rgba(10, 0, 0, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(7, 0, 0, 0.1);
    box-shadow: 0 0 40px rgb(28, 29, 29);
    padding: 20px;
}


/* main content */
.links a,
.shortcuts a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    color: #fffdfd;
    margin-top: 10px;
}

.links a img {
    margin-right: 10px;
    width: 25px;
    margin-right: 15px;
}

.links a:last-child {
    color: #000307;
}

.links {
    border-bottom: 2px solid #ccc;
}

.shortcuts img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcuts p {
    margin: 25px 0;
    color: #080808;
    font-weight: bolder;
}

/* Side Bar Title */

.sideBarTitle {
    display: flex;
    justify-content: space-between;
    margin: 18px;
    align-items: center;
}

.sideBarTitle h4 {
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.sideBarTitle a {
    text-decoration: none;
    color: #070707;
    font-size: 12px;
}

/* Right Side Bar  Events */
.event {
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
}

.leftSideEvents {
    border-radius: 10px;
    height: 60px;
    width: 65px;
    margin-right: 0px;
    margin-top: 5px;
    text-align: start;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    background-color: rgb(69, 72, 75);
    box-shadow: 0 0 10px rgb(252, 251, 251);
}

.leftSideEvents,
span h3 {
    color: white;
    font-size: 14px;
    padding-left: 30px;

}

.rightSideEvents h4 {
    color: rgb(7, 7, 7);
    font-size: 12px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;

}

.rightSideEvents p {
    color: white;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
}

.rightSideEvents a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
}

.onlinePeople {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.online img {
    width: 40px;
    border-radius: 50%;
}

.online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.onlinePeople p {
    color: white;
}

.online::after {
    top: unset;
    bottom: 10px;
}

/* Center main content */
.stories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 50%;
    padding-top: 40%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;
    width: 130px;

}

.story img {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    top: 10px;
    left: 20px;
    border: 5px solid rgb(249, 249, 250);
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("./images/profile-pic.jpg");

}

.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("./images/2fe6d50_7ad646915d704955a5b147b0c9764766-7ad646915d704955a5b147b0c9764766-0.jpg");

}

.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("./images/Yuga-Labs-Bored-Ape-Yacht-Club-44661639472731-0.jpg");

}

.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("./images/Twitter-NFT-profile.jpg");

}

.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("./images/thumb.webp");

}

.story img {
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

/* Post Box */
.postsContainer {
    width: 100%;
    border-radius: 6px;
    padding: 20px;
    background-color: #080707;
    background: linear-gradient(180deg, rgb(228, 225, 225) 11.2%, rgb(198, 201, 201) 91.1%);
}

.userProfile {
    display: flex;
    align-items: center;

}

.userProfile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.userProfile p {
    font-weight: 600;
    color: #fafafa;
    margin-bottom: -5px;
}

.userProfile small {
    font-size: 12px;
}

.posts {
    padding-left: 55px;
    padding-top: 20px;

}

.posts textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    color: rgb(12, 12, 12);
    resize: none;

}

.postLinks {
    display: flex;
    margin-top: 7px;

}

.postLinks a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin: 10px;
    font-size: 14px;
}

.postLinks img {
    width: 20px;
    margin-right: 10px;

}

/* FEEDS */
.feeds {
    width: 100%;
    border-radius: 6px;
    padding: 20px;
    background-color: #080707;
    background: linear-gradient(180deg, rgb(126, 125, 125) 11.2%, rgb(198, 201, 201) 91.1%);
    margin: 20px 0;

}

.userProfile span {
    font-size: 13px;
    color: #9a9a9a;

}

.postTextArea {
    color: #1b1b1b;
    font-size: 15px;
    margin: 15px 0;

}

.postImage {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;

}

.postRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity div img {
    width: 18px;
    margin-right: 10px;

}

.activity div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

}

.prfileIcon {
    display: flex;
    align-items: center;
}

.profileIcon img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.loadMore {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #fcf9f9;
    background-color: transparent;
    border-radius: 4px;
}

.footer {
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;

}



/* dropdown */
.settingMenue {
    position: absolute;
    width: 90%;
    max-width: 350px;
    max-height: 0;
    background: white;
    background: linear-gradient(180deg, rgb(117, 115, 115) 11.2%, rgb(115, 203, 212) 91.1%);
    box-shadow: 0 0 10px rgb(0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    transition: max-height 0.5s;
}

.settingMenueHeight {
    max-height: 450px;

}

.settingLink {
    display: flex;
    align-items: center;
    margin: 15px 0;

}

.settingLink .settingIcon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;

}

.settingLink a {
    display: flex;
    flex: 1;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    color: #fcf9f9;
}

#darkBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    transition: padding-left 0.5s;
    background: 0.5s;
}

#darkBtn span {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50px;
    display: flex;
}

#darkBtn .darkBtnOn {
    padding-left: 23px;
    background: black;

}


/* Media Querries for responsiveness */
@media(max-width: 900px) {
    .leftSideBar {
        display: none;
    }

    .rightSideBar {
        display: none;
    }

    nav {
        flex-wrap: wrap;
    }

    .searchBox {
        display: none;
    }

    .nav-left ul li img {
        width: 20px;
        margin: 0 8px;
    }

    .navUserIcon img {
        width: 30px;
        margin-left: 0;

    }

    .navUserIcon {
        margin-left: 0;
    }

    .postLinks {
        display: inline;
    }

    .centerContent {
        flex-basis: 92.1%;
    }

    .postsContainer {
        flex-wrap: wrap;
    }

    .container {
        flex-wrap: wrap;
        /* display: inline-flexbox; */
    }

    .stories {
        display: none;

    }

    .story {
        display: fit-content;
    }
}